/* General Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #282826;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  background: #fff;
  line-height: 1.2;
  margin: 4em;
}

/*  Typography  */
h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
	margin-bottom: 5%;
}

h2 {
  font-weight: 600;
  text-align: center;
  margin: 0 auto 1rem;

}

h3 {
	font-size: 1.2rem;
	font-weight: 400;
  line-height: 1.5rem;
	margin-top: 8px;
	text-align: center;
}

article p {
  text-align: center;
}

/* Title Row Classes & IDs */
#title {
  background-color: #282826;
  padding: 2% 2% 0 2%;
	position: relative;
}

.aei-logo {
  margin-bottom: 1rem;
  width: 50%;
}

.extra-lg-h1 {
  font-size: 4.5rem;
}

.header-row {
  background-color: #282826;
  margin: 3% auto 5%;
}

.hero-row {
  padding-top: 5%;
}

.lg-text {
  font-size: 4.5rem;
}

.navbar {
  margin-bottom: 2rem;
}

.title-image {
	position: absolute;
	bottom: 0;
	right: 0;
  max-width: 50%;
}

/* Thank-you section */

.thank-you-section {
  margin: 10px auto;
  padding-bottom: 1rem;
}

/* Masonry */
#img-masonry {
  /* margin: 5% 5%;
  text-align: center; */
}

.long-text {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: auto;
  width: 80%;
}

.masonry-img {
	width: 100%;
}

article {
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
}

a:link,
a:visited {
  color: black;
}

main {
  columns: 250px;
  column-gap: 20px;
}

article {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}
